bookmarks
elpa/
auto-save-list/
irony/
transient/
*.elc
init.el.before_ecb*
projectile-bookmarks.eld
.cache/
eshell/
ido.last
recentf
smex-items
semanticdb
anaconda-mode/
local-def.el
.mc-lists.el
history
tramp
.lsp-session-v1
url/
agenda.org
projects
session*
request/
places
backups/
custom.el
*undo-tree*
